#inscription{
  padding: 150px 0px;
  background-image: url(/assets/img/banner_bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}


.my-form{
    width: 100%;
  }
   
  .full-width {
    width: 100%;
  }
  .titre{
    font-size: 24px;
    color: rgb(229, 192, 192);
    font-family: inherit;
  }