  <section id="about" class="page-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_01.png" alt="">
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>Pour être au coeur du recrutement</p>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_02.png" alt="">
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>La societé est crée en 2020 pour se consacrer à la valorisation
                                    des Ressources Humaines à Madagascar en les accompagnant
                                    au travres d'entreprise innovants, et en contribuant à leur
                                    développement en tant qu'individu</p>
                            </div>
                        </div>    
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_03.png" alt="">
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <p>Le produit phare est dédié au recrutement. Talent Sourcing
                                gère de A à Z un projet de selection en recrutement sur
                                mesure quel que soit son volume eet quel que soit le poste à
                                pourvoir. Il évite les tâches répétitives rend le processus de
                                recrutement simple et intuitif, ce qui permet au recruteur d'être
                                au coeur de son métier et d'être plus qualitatif</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="service-item">
                        <div class="icon">
                            <img src="img/service_icon_04.png" alt="">
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <ol>
                                    <p>
                                        <li>C'est une application web de recrutement accessible sur le site web de CODE;</li>
                                     <li>Les candidats vont déposer leurs dossiers pour candidatures spontanées et/ou;</li>
                                     <li>Ils vont ouvrir un compte pour effectuer un test de sélection en ligne à un poste ouvert 
                                        et affiché par un recruteur;</li> 
                                        <li>Le recruteur bénéficie d'une visibilité web avec toutes les informations qu'elle veut afficher
                                            en plus du/des poste(s) ouvert(s);</li>
                                        <li>Les candidatures spontanées sans comptes ouvert ayant le profil recherché par le recruteur mais qui
                                            n'a pas postulé à un poste ouvert lui parviendront;</li>
                                        <li>L'entreprise pourra parametrer elle-même ses tests selon ses besoins; </li>
                                        <li>L'évaluation des réponses aux test se fait par un système de notation automatique et une
                                            qualification automatique de la candidature est alors possible suite à la note globale obtenue par
                                            le candidat ou suivant des critères prédéterminés par le recruteur;
                                        </li>
                                       <li>Le recruteur pourra sortir des rapports suivant toutes les informations rensignées par le candidat
                                            sur les formulaires et procéder aux analyses des données
                                        </li>
                                    </p>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>