/*#about .service-item h4 {
    margin-bottom: 30px;
    margin-top: 45px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 1px;
    background-color: chocolate;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-top: -168px;
}
#about .service-item p {
    color: #fff;
    margin-top: 30px;
    text-align: initial;
    margin-left: 420px;
}*/
li{
    font-size: 14px;
    color: whitesmoke;
}