<section id="affichage" class="page-section">
    <div class="mat-card">
        <div class="form">
            <br/>
        <mat-label>{{element.titre}}</mat-label><br/>
        <mat-label>{{element.nom}}</mat-label> <br/>
        <mat-label>{{element.addre}}</mat-label><br/>
        <p>{{element.missions}}</p><br/>
        <h2>ACTIVITE DE L'ENTREPRISE</h2><br/>
        <p>{{element.activite}}</p><br/>
        <h2>MISSION</h2><br/>
        <p>{{element.missions}}</p><br/>
        <h2>PROFILE</h2><br/>
        <p>{{element.profile}}</p><br/>
        <mat-label>{{element.dateLimiteOffre}}</mat-label><br/>
        <mat-label>{{element.reference}}</mat-label><br/>
        <button class="btn btn-lg btn-primary" color="primary" (click)="navigate()" type="submit">Postuler</button><br/><br/>
    </div>
    </div>
</section>


