#affichage{
    padding: 150px 0px;
    background-image: url(/assets/img/banner_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.mat-card{
	width: 90%;
	margin-left: 30px;
}
.form{
	margin-left: 10px;
	margin-right: 5px;
}
