#candidat{
    padding: 150px 0px;
    background-image: url(/assets/img/banner_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  }

.full-width{
    width: 100%;
}


.mat-card{
    margin-left:20px;
    width: 90%;
}
.form{
    margin-right: 10px;
    margin-left: 10px;
}
