#authentification{
padding: 150px 0px;
background-image: url(/assets/img/banner_bg.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

.full-width{
  width: 100%;
}

.mat-card-actions{
  text-align: center;

}


.mat-card{
  margin-top: 50px;
}