
              <!--/.header-->
                  <div class="parallax-content baner-content" id="home">
                    <div class="container">
                        <div class="text-content">
                          <div class="mat-display-1">
                            <p>TROUVEZ L'EMPLOI DE VOS REVES,</p>
                            <p>PUIS, LANCEZ-VOUS EN TOUTE SIMPLICITE,</p>
                            <p>ENFIN, PREPAREZ-VOUS A RENCONTRER VOTRE FUTUR EMPLOYEUR</p>
                          </div>
                            <div class="row">
                              <mat-card class="col-sm-4"> 
                              <h5 class="card-title-quebec">QUEBEC</h5>
                                <img width="300" height="250" src="/assets/img/quebec.jpg" alt="">

                                <div class="card-body">
                                  <a routerLink="/offre/new" class="card-text">
                                    <button mat-raised-button> OFFRES D'EMPLOIS</button></a>
                                </div>
                            </mat-card> 

                            <mat-card class="col-sm-4"> 
                              <h5 class="card-title-tana">ANTANANARIVO</h5>
                              <img width="300" height="250" src="/assets/img/antananarivo.jpg" alt="">
                                <div class="card-body">
                                  <a routerLink="/offre/new" class="card-text">
                                  <button mat-raised-button>  OFFRES D'EMPLOIS</button></a>
                                  <!-- a href="#" class="btn btn-primary">Go somewhere</a> -->
                                </div>
                              </mat-card> 

                              <mat-card class="col-sm-4">
                                <h5 class="card-title-spontannee">CANDIDATURES SPONTANEES</h5>
                                 
                                <img width="300" height="250" src="/assets/img/candindat.jpeg" alt="">
                  
                              <div class="card-body">
                                <a routerLink="/offre/new" class="card-text">
                                  <button mat-raised-button>OFFRES D'EMPLOIS</button></a>
                              </div>
                              </mat-card> 

                            </div>
                        </div>
                        <div class="text-content">
                            <h6 class="comment">RECRUTER AVEC L'APPLICATION WEB TALENT, comment ça marche</h6>
                        </div>
                        <button class="btn btn-danger" (click)="getCSV()">Obtenir un démo</button><br><br>

                              <!-- <img src="/assets/img/capture2.jpg" width="800" height="500" alt=""/> -->
                            
                            <div data-aos="slide-right">
                                    <img class="d-block w-100" src="/assets/img/capture2.jpg" alt="">
                                  </div>    
 
                               
                              



                        <!-- <img src="/assets/img/capture1.png" alt="image apercu interface..."> -->
                        <div class="container">
                          <div class="text-content">
                            <div class="row">
                                <div class="col-sm-4">
                                  <div class="card">
                                    <h5 class="card-title-list">1- Diffusion des offres d'emplois</h5>
                                    <div class="card-body-list">
                                      <p>Nous vous assistons dans la création et la multidiffusion de vos offres d'emploi</p>
                                    </div>
                                  </div>
                                </div>


                                <div class="col-sm-4">
                                  <div class="card">
                                    <h5 class="card-title-list">2- Promotion de la marque Employeur</h5>
                                    <div class="card-body-list">
                                      <p>Nous vous mettons à disposition des espaces pour mettre en valeur votre entreprise et suivant la #RGPD</p>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-sm-4">
                                  <div class="card">
                                    <h5 class="card-title-list">3- Analyse des candidats</h5>
                                    <div class="card-body-list">
                                      <p>L'outil Talent vous permet de collaborer en interne à plusieurs</p>
                                    </div>
                                  </div>
                                </div>
                            </div><br/><br/>
                            <div class="col-sm-4">
                              <div class="card">
                                <h5 class="card-title-list">4- Séléction par des tests</h5>
                                <div class="card-body-list">
                                  <p>Les candidats ayant postuler à votre offre d'emploi
                                    ont pu de suite effectuer un test de pré-selection que vous avez, vous-même élaboré, grâce à l'outil Talent</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-sm-4">
                              <div class="card">
                                <h5 class="card-title-list">5- Entretiens optimisés</h5>
                                <div class="card-body-list">
                                  <p>Une application automatique des candidats vous permet d'organiser vos entretients</p>
                                </div>
                              </div>
                            </div>

                            <div class="col-sm-4">
                              <div class="card">
                                <h5 class="card-title-list">BONUS: Stratégie recrutement</h5>
                                <div class="card-body-list">
                                  <p>Des rapports automatiques sont générés à chaque clôture d'un recrutement</p>
                                </div>
                              </div>
                            </div>

                           

                          </div>
                        </div>
    
                          <div class="text-content">
                                <h6 class="comment">NOS PARTENAIRES</h6>
                           </div> 
                        <div class="text-content">
                            <div class="row">

                                <div class="col-sm-2">
                                    <a href="" class="card-text">ATALIA CONSEILS</a><br>
                                    <img src="assets/img/service_icon_03.png" alt="">
                                    <!-- a href="#" class="btn btn-primary">Go somewhere</a> -->
                                 
                                </div>
                         
                                <div class="col-sm-2">
                                    <a href="" class="card-text">ATALIA CONSEILS</a><br>
                                    <img src="assets/img/service_icon_03.png" alt="">
                                </div>
                                <div class="col-sm-2">
                                    <a href="" class="card-text">ATALIA CONSEILS</a><br>
                                    <img src="assets/img/service_icon_03.png" alt=""> 
                               </div>
                            </div>
                        </div>
                  </div>
              </div>

  
 


